.cover__link {
  text-decoration: none;
  color: #fff;
  z-index: 3;
  width: 100%;
  min-height: calc(0.625 * min(1184px, 100vw));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
