.places {
  width: 90.5%;
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1020px) {
  .places {
    margin: 0 24px 90px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 760px) {
  .places {
    margin: 0 auto 66px;
    width: 100%;
  }
}
