.cover {
  padding: 0;
  margin: 0 auto 92px;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  max-width: 1184px;
  min-height: calc(0.625 * min(1184px, 100vw));
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  inset: 0;
  max-width: 1184px;
  margin: 0 auto;
  min-height: calc(0.625 * min(1184px, 100vw));
  z-index: 0;
}
.cover::after {
  content: '';
}

.cover:hover:after{
  content: '';
  background-color: #2A2C2F;
  opacity: 0.8;
  position: absolute;
  inset: 0;
  max-width: 1184px;
  margin: 0 auto;
  min-height: calc(0.625 * min(1184px, 100vw));
  z-index: 0;
}

@media screen and (max-width: 760px) {
  .cover {
    margin: 0 0 64px;
  }
}
