.places__place {
  gap: 48px 16px;
  margin: 0 0 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.places__place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1270px) {
  .places__place {
    gap: 48px 18px;
  }
}

@media screen and (max-width: 1020px) {
  .places__place {
    margin: 0 0 60px;
  }
}

@media screen and (max-width: 760px) {
  .places__place {
    gap: 32px;
    margin: 0 0 50px;
  }
}
